* {
    box-sizing: border-box;
}
header{
	background-color: #80bfff;
	height: 150px;
	padding: 10px;	
	margin-bottom: 20px;
}
header .brand,.tools{
	border-right:20px solid #80bfff; 
	height: 50px;
	color: black;
	background-color: #b3d9ff;
	text-align: center;
}
header .global{
	height: 50px;
	border-right:20px solid #80bfff; 
	color: black;
	background-color: #b3d9ff;
	text-align: center;
}
section .hero{
	background-color:#80bfff;
	border-right: 20px solid white;	
	border-bottom: 20px solid white;
}
section .hero .hero1,.hero2{
	height: 50px;
	border-right:20px solid #80bfff; 
	color: black;
	background-color: #b3d9ff;
	text-align: center;
}
section .AD {
	height: 173px;
	background-color: #668cff;
}
section .body{
	background-color:#80bfff;
	border-right: 20px solid white;	
}
section .body .body1,.body2{
	height: 200px;
	border-right:20px solid #80bfff; 
	color: black;
	background-color: #b3d9ff;
	text-align: center;
}
section .sidebar{
	background-color:#80bfff;
	border-right: 20px solid white;	
}
section .sidebar .side{
	height: 200px;
	border-right:20px solid #80bfff; 
	color: black;
	background-color: #b3d9ff;
	text-align: center;
}
section{
	margin-bottom: 20px;
}
footer .footer{
	margin-top: 20px;
	background-color: #80bfff;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
