body{
	margin-left:500px;
}
#calculator {
	background-color: #66ccff;
}
#calculator .butnum{
	width: 50px;
	height: 50px;
}
#calculator .buteval{
	width: 164px;
	height: 50px;
}
#calculator #txtshow{
	margin-top: 10px;
	margin-bottom: 30px;
	width: 270px;
	height: 60px;
	font-size: 160%;
}