body{
	margin: 20px 200px;
}
header{
	height: 80px;
	background-color:#bfbfbf;
	font-size: 200%;
	margin-bottom: 100px;
}
header p{
	padding-top: 20px;
	padding-left: 100px;
}
section{
	margin-left: 100px;
	width: 525px;
	height: 200px;
	background-color: #bfbfbf;
	margin-bottom: 100px;
}
section .video{
	float: left;
	width: 300px;
	height: 100px;
	background-color: red;
	margin-left: 10px;
}
section .play {
	float: left;
	width: 150px;
	height: 100px;
	background-color: #33cc00;
	margin-left: 10px;
}
section p{
	padding: 20px;
}
footer{
	height: 80px;
	background-color:#bfbfbf;
	font-size: 200%;
}
footer p{
	padding-top: 20px;
	padding-left: 100px;
}