
header{
	padding: 30px;
	background:  #3385ff;
	font-size:200%;
	color: #ffffff;
}
#ss1{
	width: 400px;
    height: 300px;
    background: #33cc33;
    float: left;
    margin-left: 200px;
    text-align: center;
    font-size: 200%;
    color: white;
    border: 2px solid;
    border-color: white;
}
#ss2{
	width:200px;
	height: 300px;
	background: #e580ff;
	float: left;
	text-align: center;
	color: white;
	border-color: white;
	border: 2px solid;
	font-size: 200%
}
#ss3{
	width: 300px;
	height: 300px;
	background: #ff751a;
	float: left;
	text-align: center;
	color: white;
	border: white;
	border: 2px solid;
	font-size: 200%;
	margin-left: 200px;
}
#ss4{
	width: 300px;
	height: 300px;
	background: #ff751a;
	float:right;
	text-align: center;
	color: white;
	border: white;
	border: 2px solid;
	font-size: 200%;
	margin-right: 190px;
}
section{
	width: 1000px;
	height: 630px;
}
footer{
	padding: 20px;
	font-size: 200%;
	color:white;
	background: #0000cc;
}
