table{
	border: 1px solid black;
	border-collapse: collapse;
}
table thead,tfoot{
	background: aqua;
}
.td1,.td2,.td3{
	text-align: left;
}
th,td{
	border: 1px solid black;
	padding: .2em .7em ;
	text-align: right;
}